<%- include('../partials/header') %>

<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4">
      <h3 class="text-center text-success mb-4">Bejelentkezés</h3>
      <div
        id="error-msg"
        class="alert alert-danger"
        style="display: none"
      ></div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="email@example.com"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Jelszó</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Jelszó"
        />
      </div>
      <button class="btn btn-success w-100" onclick="login()">
        Bejelentkezés
      </button>
      <p class="text-center mt-3">
        Még nincs fiókod? <a href="/auth/register">Regisztrálj!</a>
      </p>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
