<%- include('../partials/header') %>

<div class="row mb-4">
  <div class="col-12">
    <h2 class="text-success">Gondozási Wiki</h2>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-4">
    <select id="filter-category" class="form-select">
      <option value="">Minden kategória</option>
      <option value="öntözés">Öntözés</option>
      <option value="betegségek">Betegségek</option>
      <option value="kártevők">Kártevők</option>
      <option value="szaporítás">Szaporítás</option>
      <option value="szezonális gondozás">Szezonális gondozás</option>
    </select>
  </div>
</div>

<div class="row g-4" id="wiki-container">
  <div class="col-12 text-center">
    <div class="spinner-border text-success" role="status"></div>
  </div>
</div>

<%- include('../partials/footer') %>
